<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link rel="stylesheet" type="text/css" href="Admin.css" />
  <link rel="stylesheet" type="text/css" href="Salon.css" />
</head>

<body>
  <div class="headers">
    <div class="title">
      Кудряшки/Admin
    </div>

    <ul class="menu">
      <!-- Пункты меню -->
      <li><a class="menua" href="ServicesCategory.html">Прайс</a></li>
      
    </ul>
  </div>


  <a href="Categor.html"><img src="back-button.png"></a>

  <div class="tabs" id="app">
    <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
    <label for="tab-btn-1">Имеющиеся записи</label>
    <input type="radio" name="tab-btn" id="tab-btn-2" value="">
    <label for="tab-btn-2">Свободные записи</label>

    <div id="content-1">
      <div style="text-align: center;">
        <table>
            <tr>
                <th rowspan="1" class="first">{{name}}</th>
                <th colspan="2"></th>
            </tr> 
            <tr>
                <td class="first">Мастер</td>
                <td class="first">Процедура</td>
                <td class="first">Имеющиеся записи</td>
            </tr>
            <tr
              v-for="(item, index) in getFirstList" :key="index"
            >
                <td class="first">{{ item.masterName }}</td>
                <td class="first">{{ item.descriptionService }}</td>
                <td class="first">{{ item.date }}</td>
            </tr>
        </table>
    </div>
    
    </div>
    <div id="content-2">
      <div style="text-align: center;">
        <table>
            <tr>
                <th rowspan="1" class="first">{{name}}</th>
                <th colspan="2"></th>
            </tr> 
            <tr>
                <td class="first">Мастер</td>
                <td class="first">Свободно для записи</td>
            </tr>
            <tr
              v-for="(item, index) in getSecondList"
              :key="index"
            >
                <td class="first">{{ item.masterName }}</td>
                <td class="first">{{ item.date }}</td>
            </tr>
        </table>
    </div>
    
    </div>
  </div>

  <script type="module">
    import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js'
  
    var app = new Vue({
      el: '#app',
      data: {
        service: {},
        firstList: [],
        name: '',
        secondList: []
      },
      mounted() {
        const urlSearchParams = new URLSearchParams(window.location.search);
        const { id, name } = Object.fromEntries(urlSearchParams.entries());
        this.name = name
        const url = 'https://beauty-fuck-saloon.herokuapp.com'

        fetch(url + '/admin/record/free/time/all?service_type=' + id)
            .then(response => response.json())
            .then(data => {
              this.secondList = data.map(v => {
                const yy = v.time[0]
                const mm = v.time[1] - 1
                const dd = v.time[2]
                const hh = v.time[3]
                const mmm = v.time[4]
                const date = new Date(yy, mm, dd, hh, mmm)

                return {
                  ...v,
                  date: this.getFormatDate(date)
                }
              })
            })

        fetch(url + '/admin/record/busy/time/all?service_type=' + id)
          .then(response => response.json())
          .then(data => {
            this.firstList = data.map(v => {
                const yy = v.time[0]
                const mm = v.time[1] - 1
                const dd = v.time[2]
                const hh = v.time[3]
                const mmm = v.time[4]
                const date = new Date(yy, mm, dd, hh, mmm)

                return {
                  ...v,
                  date: this.getFormatDate(date)
                }
              })
          })
      },
      computed: {
        getFirstList() {
          return this.firstList.sort((a, b) => new Date(a.date) - new Date(b.date))
        },
        getSecondList() {
          return this.secondList.sort((a, b) => new Date(a.date) - new Date(b.date))
        }
      },
      methods: {
        getFormatDate(date) {
          let dd = date.getDate();
          let mm = date.getMonth() + 1;
          let hh = date.getHours()
          let mmm = date.getMinutes()
    
          const yyyy = date.getFullYear();
          if (dd < 10) {
              dd = '0' + dd;
          }
          if (mm < 10) {
              mm = '0' + mm;
          }
          if (hh < 10) {
              hh = '0' + hh;
          }
          if (mmm < 10) {
            mmm = '0' + mmm;
          }
          return dd + '-' + mm + '-' + yyyy + ' ' + hh + ':' + mmm
        }
      },
    })
  </script>

</body>

</html>
