<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наши мастера</title>
    <link rel="stylesheet" type="text/css" href="MainPage.css"/>
    <link rel="stylesheet" type="text/css" href="Salon.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="/slick.min.js"></script>
</head>

<body>
    <div class="headers">
        <div class="title">
            Кудряшки
        </div>
       
        <ul class="menu">                      <!-- Маркированный список меню -->
            <li><a class="menua" href="RecordPage.html">Записаться онлайн</a></li>    <!-- Пункты меню -->
            <li><a class="menua" href="MainPage.html">Главная</a></li>
            <li><a class="menua" href="ServicesCategory.html">Услуги</a></li>
            <li><a class="menua" href="Masters.html">Наши мастера</a></li>
            <li><a class="menua" href="Stocks.html">Акции</a></li>
            <li><a class="menua" href="Contact.html">Контакты</a></li>
        </ul>
     
        <div class = "lk"><a class="menua" href="#">Личный кабинет</a></div>
    </div>
    <div class="topcontent">
        <div class="toptextdiv">
            <p class="toptext">Салон красоты КУДРЯШКИ – это <i>профессиональные специалисты</i>, радушная и приветливая <i>атмосфера</i>, 
            а также <i>широкий ассортимент предлагаемых услуг!</i> Мы предоставляем максимально <i>комфортные условия</i> для каждого клиента
            и <i>привлекательные цены</i> на все процедуры. Мы дорожим своей репутацией.
            Поэтому обращение к нам – это не только уют и красота, но и полная <i>безопасность</i>!
            </p>
        </div>
        <div class="slideshow">
            <div class="slideshow-item">
                <a href="Stocks.html"><img src="master/Stock1.png" alt=""></a>
            </div>
            <div class="slideshow-item">
                <a href="Stocks.html"><img src="master/Stock2.png" alt=""></a>
            </div>
           <div class="slideshow-item">
                 <a href="Stocks.html"><img src="master/Stock1.png" alt=""></a>
            </div>
            <div class="slideshow-item">
                <a href="Stocks.html"><img src="master/Stock2.png" alt=""></a>
            </div>
        </div>
    </div>   
<div class="hotwindows" id="app">
<p class="hottext">Горящие места = <b>- 20% скидка</b></p>
<p><select
    v-model="type"
    @change="onTypeHandler"
    class="hotservice">
    <option
        v-for="(item, index) in serviceList" :key="index"
        :value="item.service_type_id">{{ item.service_name }}</option>
</select><select v-model="date" class="hottime"><option
    v-for="(item, index) in datesList" :key="index" :value="item.date"
    >{{ item.dateText }}</option></select></p>
<a class="booking" :href="`RecordPage.html?date=${date}&id=${type}&item=${getItem}`">Забронировать</a>
</div>
    <div class="middlecontent">
        <img class="logos" src="master/logos.png">
<div class="textcenter">
<p>Мы сотрудничаем только с популярными поставщиками косметических средств. Мастера нашего салона регулярно повышают свои навыки, участвуя в семинарах. Большой опыт и исключительный профессионализм позволяют им выполнять работу любой сложности!</p>
</div></div>
<div class="servicesdiv">
    <div class="service"><a class="picturea" href="Coloring.html"><img class="servimg" src="master/Hair-dye.png"></a>
    </div>
    <div class="service"><a href="Manicure.html"><img class="servimg" src="master/manicure.png"></a>
    </div>
    <div class="service"><a href="Pedicure.html"><img class="servimg" src="master/pedicure.png"></a>
        </div>
</div>
    <div class="servicedivlast" style="padding-bottom: 5%;">
    <div class="service"><a href="Styling.html"><img class="servimg" src="master/hair-iron.png"></a>
    </div>
    <div class="service"><a href="EyelashExtensions.html"><img class="servimg" src="master/eyelashes.png"></a>
        </div>
    <div class="service"><a href="HairCut.html"><img class="servimg" src="master/scissors.png"></a>
        </div>

</div>
<div class="footer">
    </div>
</div>
<a class="orderbut" href="RecordPage.html"><img src="OrderButton.gif" alt="Записаться"></a>
</body>
<footer>
    <p class="bottomtext">Мы считаем, что красота должна быть доступна абсолютно каждой! Поэтому наш салон красоты предлагает вкусные цены на все услуги и ежедневно радушно открывает свои двери для каждой посетительницы!</p>
    <div class="footerdiv">
        <div class="leftfooterdiv">
<p class="leftfootername">Кудряшки</p>
<p class="leftfooterclock"><img class="footerclock" src="master/clock.png">  9:00 — 21:00</p>
        </div>
        
        <div class="rightfooterdiv">
            <p class="rightfooterlocation"><img class="footerunderground" src="master/Underground.png">  Маршала Покрышкина</p>
            <p class="rightfooterlocation"><img class="footerlocation" src="master/placeholder.png">  Новосибирск, Крылова 36</p>
        </div>
    </div>
</footer>


<script type="module">
    import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js'
  
    var app = new Vue({
      el: '#app',
      data: {
        type: 1,
        date: '',
        serviceList: [],
        datesList: []
      },
      mounted() {
        const url = 'https://beauty-fuck-saloon.herokuapp.com'
        fetch(url + '/service/type')
            .then(response => response.json())
            .then(data => {
                this.serviceList = data
                this.fetchDates()
            })
      },
      computed: {
        getItem() {
            const item = this.datesList.find(v => v.date === this.date)
            return JSON.stringify(item)
        }
      },
      methods: {
        onTypeHandler() {
            this.date = ''
            this.fetchDates()
        },
        fetchDates() {
            const url = 'https://beauty-fuck-saloon.herokuapp.com'
            return fetch(url + '/admin/record/free/time/all?service_type=' + this.type)
                .then(response => response.json())
                .then(data => {
                    this.datesList = data.map(v => {
                        const yy = v.time[0]
                        const mm = v.time[1] - 1
                        const dd = v.time[2]
                        const hh = v.time[3]
                        const mmm = v.time[4]
                        const date = new Date(yy, mm, dd, hh, mmm)

                        return {
                            ...v,
                            date,
                            dateText: this.getFormatDate(date)
                        }
                    })

                    this.date = this.datesList[0].date

                    return true
                })
        },
        getFormatDate(date) {
          let dd = date.getDate();
          let mm = date.getMonth() + 1;
          let hh = date.getHours()
          let mmm = date.getMinutes()
    
          const yyyy = date.getFullYear();
          if (dd < 10) {
              dd = '0' + dd;
          }
          if (mm < 10) {
              mm = '0' + mm;
          }
          if (hh < 10) {
              hh = '0' + hh;
          }
          if (mmm < 10) {
            mmm = '0' + mmm;
          }
          return dd + '-' + mm + '-' + yyyy + ' ' + hh + ':' + mmm
        }
      },
    })
  </script>
</html>