.toptext{
    color: black;
    font-size: 25px;
    font-family: Cambria, Cochin;
    width: 130vh;
    padding-left: 10%;
    line-height: 40px;
    text-align: justify;
    
}

.topcontent{
    display: flex;
    padding-top: 3%;
}

.slideshow {
  width: 45vh;
  height: 45vh;
  position: relative;
  overflow: hidden;
  background: rgb(214,209,214);
  margin-top: 2;
  right: -12%;
  border: double black 1px;
  border-radius: 35px;
}
.slideshow-item {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: slideanim 40s infinite;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
  animation-delay: 0;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
  animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
  animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
  animation-delay: 30s;
}
.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: 40s infinite;
}

@keyframes slideanim {
  12.5%{
      opacity: 1;
  }
  25%{
      opacity: 1;
  }    
  37.5%{
      opacity: 0;
  }
}


  .hotwindows{
    height: 30vh;
    width: 37%;
    background: rgba(214, 209, 214, 0.7);
    text-align: center;
    border-radius: 35px;
    margin: 0 auto; 
  }

  .hottext{
      font-size: 150%;
  }

  .hotservice{
    width: 232px;
    padding: 1%;
    text-align: center;
    /*margin-left: 19.5%;*/
    border: ridge darkslateblue 2px;
    border-radius: 15px;
    background: linear-gradient(45deg gray rgb(29, 12, 175));
    font-family: Cambria;
    font-size: 150%;
    margin: 4%;
  }

  .hottime{
    width: 232px;
    padding: 1%;
    text-align: center;
    /*margin-left: 10.5%;*/
    border: ridge darkslateblue 2px;
    border-radius: 15px;
    background-color: #dcdcdc;
    font-family: Cambria;
    font-size: 150%;
    margin: 4%;
  }
  
  .booking{
    padding: 2%;
    background-color: #B0C4DE;
    border: double darkcyan;
    border-radius: 35px;
    text-decoration: none;
  }

  .middlecontent{
    display: flex;
  }

  .logos{
    width: 12%;
    height: 12%;
    margin-left: 3%;
    margin-right: -4.5%;
  }

  .textcenter{
    display: flex;
    color: black;
    font-size: 25px;
    font-family: Cambria, Cochin;
    width: 80vh;
    padding-left: 5.9%;
    line-height: 40px;
    text-align: justify;
  }
.sevicesdiv{
  display: -webkit-flex;
  display: flex;
  
}

.servtext{
  text-decoration: none;
  font-size: 20px;
  font-family: Cambria;
}
.service{
  display: -webkit-inline-flex;
  display: inline-flex;
  text-align: center;
  margin-left: 15%;
  margin-top: 5%;

}
.picturea{
  margin-left: 15%;

}

