.toptext{
    color: black;
    font-size: 25px;
    font-family: Cambria;
    width: 130vh;
    padding-left: 10%;
    line-height: 40px;
    text-align: justify;
}

.topcontent{
    display: flex;
    padding-top: 3%;
}

.slideshow {
  width: 45vh;
  height: 45vh;
  position: relative;
  overflow: hidden;
  background: rgb(214,209,214);
  margin-top: 2;
  right: -12%;
  border: double black 1px;
  border-radius: 35px;
}
.slideshow-item {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: slideanim 16s infinite;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
  animation-delay: 0;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
  animation-delay: 4s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
  animation-delay: 8s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
  animation-delay: 16s;
}
.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: 40s infinite;
}

@keyframes slideanim {
  12.5%{
      opacity: 1;
  }
  25%{
      opacity: 1;
  }    
  37.5%{
      opacity: 0;
  }
}

.sliderimg{
  width: 200%;
  
}

  .hotwindows{
    height: 33vh;
    width: 37%;
    background: rgba(214, 209, 214, 0.7);
    text-align: center;
    border-radius: 35px;
    margin: 0 auto;
    margin-top: 3%;
  }

  .hottext{
      font-size: 150%;
      color: #5E2129;
      padding-top: 5%;
  }

  .hotservice{
    width: 232px;
    padding: 1%;
    text-align: center;
    /*margin-left: 19.5%;*/
    border: ridge darkslateblue 2px;
    border-radius: 15px;
    background-color: #dcdcdc;
    font-family: Cambria;
    font-size: 150%;
    margin: 4%;
  }

  .hottime{
    width: 232px;
    padding-top: -5%;
    padding: 1%;
    text-align: center;
    /*margin-left: 10.5%;*/
    border: ridge darkslateblue 2px;
    border-radius: 15px;
    background-color: #dcdcdc;
    font-family: Cambria;
    font-size: 150%;
    margin: 4%;
  }
  
  .booking{
    padding: 2%;
    background-color: #5E2129;
    color: blanchedalmond;
    font-size: 20px;
    border: solid black 2px;
    border-radius: 35px;
    text-decoration: none;
  }

  .booking:hover{
    background-color: blanchedalmond;
    color: #5E2129;
    border: solid black 2px;
  }

  .middlecontent{
    display: flex;
  }

  .logos{
    width: 12%;
    height: 12%;
    margin-left: 3%;
    margin-right: -4.5%;
  }

  .textcenter{
    display: flex;
    color: black;
    font-size: 25px;
    font-family: Cambria, Cochin;
    width: 80vh;
    padding-left: 5.9%;
    line-height: 40px;
    text-align: justify;
  }
  .servimg{
    width: 80%;
  }
.sevicesdiv{
  display: -webkit-flex;
  display: flex;
  
}
.servicedivlast{
  display: -webkit-flex;
  display: flex;
  padding-bottom: 5%;
  margin-left: 4%;
}
.servtext{
  text-decoration: none;
  font-size: 20px;
  font-family: Cambria;
}
.service{
  display: -webkit-inline-flex;
  display: inline-flex;
  text-align: center;
  margin-left: 14%;
  margin-top: 5%;

}
.picturea{
  margin-left: 15%;

}

footer{
  width: 100%;
  border-top: solid #5E2129 8px;
  height: 20%;
  background-color: rgba(214,209,214,0.8);
}

.footerdiv{
  display: flex;
  width: 100%;
}

.bottomtext{
  color: black;
    font-size: 25px;
    font-family: Cambria;
    padding: 1% 5%;
    line-height: 40px;
    text-align: justify;
}

.leftfooterdiv{
  flex: none;
  margin-left: 25%;
  width: 15%;
}

.leftfootername{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.leftfooterclock{
  font-size: 23px;
  margin-left: 5%;
}

.footerclock{
  width: 28%;
  vertical-align: middle;
}

.rightfooterdiv{
  flex: none;
  margin-left: 20%;
}

.rightfooterlocation{
  white-space: nowrap;
  font-size: 23px;
}

.footerunderground{
  width: 15%;
  vertical-align: middle;
}

.footerlocation{
  width: 12%;
  vertical-align: middle;
}