.menu-main { /*Верхнее меню на всех страницах*/
    z-index: 9999;
    list-style: none;
    margin: 0 0 0;
    padding: 25px 0 5px;
    text-align: center;
    text-decoration: lavender;
    background-color: black;
    height: 7%;
}
.sidenav { /*Боковое меню на всех страницах*/
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a { /*Боковое меню. Ссылки на всех страницах*/
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover { /*Боковое меню. Ссылки. Фокус на всех страницах*/
    color: #f1f1f1;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

}

@media screen and (max-width: 550px) { /*Адаптация блока с гифкой на странице записи*/
    .gifDiv {display: none;}
    .Order {position: relative; margin: auto}
}

/*.content {
    display: block;
}*/

/*.OrderDiv {
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 10%;
    background-color: rgba(238, 145, 113, 0.76);
    border-radius: 10px;
    padding-right: 4.5%;
    padding-left: 4.5%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: none;
    cursor: pointer;

}*/

.gifDiv { /*Блок с гифкой на странице записи*/
    background: url(/PM/Services/Background.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 900px;
    position: fixed;
    top: 14%;
    left: 0;
    width: 67%;
    margin-left: -0.5%;
    margin-right: -0.5%;
}

.links {
    text-decoration: none;
    font-size: 41px;
}

.OrderLink {
    color: darkslategray;
    font-size: 200%;

}

.OrderLink:target {
color: blanchedalmond;
}

.OrderLink:hover {
    color: darkcyan;
}

.button{ /*Кнопка "Записаться" на странице записи*/
    color: white;
    background-color: #64c264;
    height: 10%;
    width: 70%;
    border-radius: 15px;
    border: inset darkgreen;
    margin-left: 15%;
    margin-top: 5%;
    font-size: 25px;
    font-family: Cambria;
}
.button:hover{ /*Стиль текста на кнопке "Записаться" на страницы записи*/
    color: darkslategrey;
    cursor: pointer;
}

.inputField { /*Поля ввода в форме записи на странице записи*/
    padding-left: 8%;
    padding-top: 0;
    font-size: 24px;
    font-weight: normal;
}

.OpenMenu { /*Кнопка открытия бокового меню*/
    margin-left: -96%;
    margin-top: 0.5%;
    z-index: 999999999;
    width: 3%;
    height: 2%;
    font-size:30px;
    color: white;
    cursor:pointer;
}

.CloseMenu { /*Кнопка закрытия бокового меню*/
    margin-right: -90%;
    margin-top: -500%;
    z-index: 999999999;
    width: 10%;
    height: 5%;
    font-size:30px;
    color: white;
    cursor:pointer;
}

.SuccessPopup { /*Отображение окна успешной записи на странице записи*/
    position: fixed;
    font-family: "Monotype Corsiva";
    font-size: 200%;
    top: -10%;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;

    align-self: center;
}
.SuccessPopup:target {/*Вывод блока успешной записи на странице записи*/
    display: block;
    pointer-events: auto;
}

.SuccessPopup > div { /*Блок окна успешной записи на странице записи*/
    width: 30%;
    position: relative;
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 15%;
    padding: 5px 5px 5px 20px;
    border-radius: 10px;
    background: lavender;
}

.close {/*Стиль кнопки "Х" окна успешной записи на странице записи*/
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    font-family: sans-serif;
    font-size: 50%;
}

.close:hover { background: lavender; color: black} /*Стиль кнопки "Х" при фокусе на странице записи*/

.Service { /*Стиль текста на страницах отдельных услуг*/
    white-space: pre;
    font-family: Cambria;
    font-size: 200%
}

.master{ /*Стиль страницы мастеров*/
    width: 1210px;
    display: flex;
    margin: 30px 0px 20px 0px;
}

.photo img{ /*Фото мастеров*/
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-left: 160px;
    margin: 0px 0px 0px 100px;
}

.text{/*Тексты на странице мастеров*/
    width: 900px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px 0px 10px;
    text-align: justify;
    font-size: 22px;
}

div.line {/* Параметры линии на странице мастеров */
    border-bottom: 5px solid rgb(0, 0, 0);
    width: 900px;
}
