.backbutton{
    margin-left: 3%;
    margin-top: 3%;
    width: 3.5%;
}

.servicesprice { /*Стиль текста на страницах отдельных услуг*/
    white-space: pre;
    font-family: Cambria;
    font-size: 200%;
    padding-bottom: 3%;
}

.mainheader{ /*Стиль блока с заголовком группы услуг на страницах отдельных услуг*/
    border-bottom: double black;
    height: 100px;
    width: 50%;
    margin-top: -6.5%;
    padding-top: 0.1%;
    margin-left: 23.5%;
}

.mainheadertext{ /*Стиль заголовков групп услуг на страницах отдельных услуг*/
    text-align: center;
    font-family: 'Monotype Corsiva';
    font-size: 300%;
    top: -3%;
}

.servicediv{ /*Стиль блока с прайсом на услуги на страницах отдельных услуг*/
    margin-left: 23%;
    width: 48.5%;
}